<% content_for :title, "All Links" %>

<h1>All Links</h1>

<div>
  <%= link_to "Add new link", new_link_path %>
</div>

<table>
  <tbody>
    <% @links.each do |link| %>
    <tr>
      <td data-controller="clipboard">
        <a href="<%= slug_url(link.slug) %>" data-clipboard-target="anchor" data-turbo-prefetch="false">
          <%= link.slug %>
        </a>
        <button class="copy-button" data-action="clipboard#copy" data-clipboard-target="button">
          Copy
        </button>
      </td>
      <td data-controller="clipboard">
        <a href="<%= link.url %>" data-clipboard-target="anchor">
          <%= link.url %>
        </a>
        <button class="copy-button" data-action="clipboard#copy" data-clipboard-target="button">
          Copy
        </button>
      </td>
      <td>
        <%= link.visit_count %>
      </td>
      <td>
        <%= link.created_at.strftime("%Y-%m-%d") %>
      </td>
      <td>
        <%= link_to "Edit", edit_link_path(link.id) %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
