<% content_for :title, "All Links" %>

<h1>All Links</h1>

<div>
  <%= link_to "Add new link", new_link_path %>
</div>

<div class="table-wrapper">
  <table>
    <tbody>
      <% @links.each do |link| %>
      <tr>
        <td>
          <a href="<%= slug_url(link.slug) %>" data-turbo-prefetch="false">
            <%= link.slug %>
          </a>
          <div class="fixed-button">
            <%= render "copy-button", text: slug_url(link.slug) %>
          </div>
        </td>
        <td>
          <%= link.visit_count %>
        </td>
        <td>
          <div class="two-lines">
            <a href="<%= link.url %>">
              <%= link.url %>
            </a>
          </div>
        </td>
        <td>
          <%= link_to "Edit", edit_link_path(link.id) %>
        </td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>