<% content_for :title, "All Links" %>

<h1>All Links</h1>

<div>
  <%= link_to "Add new link", new_link_path %>
</div>

<table>
  <tbody>
    <% @links.each do |link| %>
    <tr>
      <td style="width: 15%;">
        <a href="<%= slug_url(link.slug) %>"><%= link.slug %></a>
      </td>
      <td style="width: 70%;">
        <a href="<%= link.url %>"><%= link.url %></a>
      </td>
      <td style="width: 5%;">
        <%= link.visit_count %>
      </td>
      <td style="width: 10%;">
        <%= link.created_at.strftime("%Y-%m-%d") %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
