<% content_for :title, "Create New Link" %>

<h1>Create New Link</h1>

<%= form_with model: @link do |form| %>
  <% if form.object.errors.any? %>
    <div>Error: <%= form.object.errors.full_messages.first %></div>
  <% end %>

  <%= form.text_field :url, required: true, placeholder: "Your long URL" %>
  <%= form.text_field :slug, required: true, placeholder: "Your custom slug" %>
  <%= form.submit "Create" %>
<% end %>
