<% content_for :title, "Admin" %>

<h1>Admin</h1>

<% if @root_link %>
<div>
  You have root link.<br>
  <strong>Destination:</strong> <a href="<%= @root_link.url %>"><%= @root_link.url %></a><br>
  <strong>Visit count:</strong> <%= @root_link.visit_count %><br>
  <%= link_to "Update root link.", edit_admin_link_path %>
</div>

<%= render "links/daily-visits", daily_visits: @root_link.daily_visits %>
<% else %>
<div>
  You don't have root link set up.
</div>
<% end %>
