<div class="navbar" data-controller="navbar-drawer">
  <div class="menu">
    <button type="button" data-action="navbar-drawer#toggle"></button>
  </div>

  <ul
    data-navbar-drawer-target="menu"
    data-mobile-state="close"
  >
    <li>
      <%= link_to "Home", root_path %>
    </li>

    <% if authenticated? %>
    <li>
      <%= link_to "Links", links_path %>
    </li>
    <% end %>

    <li class="separator">
    </li>

    <% if authenticated? %>
    <% if Current.user.admin? %>
    <li>
      <%= link_to "Admin", admin_root_path %>
    </li>
    <% end %>

    <li>
      <%= link_to "Logout", logout_path, data: { turbo_method: :delete } %>
    </li>

    <% else %>
    <li>
      <%= link_to "Login", login_path %>
    </li>
    <% end %>
  </ul>
</div>